{% extends 'base_2.html' %}

{% block content %}

<h2>{% if object %}Edit{% else %}Create{% endif %} Commission</h2>

<form method="post">
    {% csrf_token %}

    <div class="commission-section">
        <h3>Commission Details</h3>
        {{ form.title }}
        {{ form.description }}
        {{ form.type }}
        {{ form.people_required }}
        {{ form.status }}
    </div>

    <hr>

    {%if not object %}
    <div class="job-section">
        <h3>Primary Job Role</h3>
        {{ form.role }}
        {{ form.manpower_required}}
    </div>
    {% endif %}

    <button type="submit">{%if object %} Confirm Edit On Commission{% else %} Create Commission and Job{% endif %} </button>

</form>

<br>
<a href="{% url 'commissions:commission_list' %}">Cancel and Go Back to Commissions List</a>

{% endblock %}