{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>{{ project.title }}</h1>
    <p><i>Project type: {{ project.category.name }}</i></p>
    <p><i>Score: {{ average_score }} | Favorites: {{ favorite_count}} </i></p>
    <p><a href="PLACEHOLDER-----">Favorite</a></p>

    <p>{{ project.description }}</p>

    <br>

    <h2>Materials</h2>
    <p>{{ project.materials }}</p>

    <h2>Steps</h2>
    <p>{{ project.steps }}</p>

    <br><br>

    <p>Project created on: {{ project.created_on }}</p>
    <p>Project updated on: {{ project.updated_on }}</p>
{% endblock %}
