{% extends 'base.html' %}

{% block content %}

{% if is_creator %}
    <p><a href="{% url 'diyprojects:create_project' %}">Create a New Project</a></p>
{% endif %}

{% if request.user.is_authenticated %}

    <h1>Projects You Created</h1>
    <ul>
        {% for project in created_projects %}
            <li>
                <a href="{% url 'diyprojects:project_detail' project.pk %}">{{ project.title }}</a>
            </li>
        {% empty %}
            <li>No projects created yet~</li>
        {% endfor %}
    </ul>

    <h1>Projects You Favorited</h1>
    <ul>
        {% for f in favorites %}
            <li>
                <a href="{{ f.project.get_absolute_url }}">{{ f.project.title }} (Status: {{ f.project_status }})</a>
            </li>
        {% empty %}
            <li>No projects favorited yet~</li>
        {% endfor %}
    </ul>

    <h1>Projects You Reviewed</h1>
    <ul>
        {% for r in reviews %}
            <li>
                <a href="{{ r.get_absolute_url }}">{{ r.title }}</a>
            </li>
        {% empty %}
            <li>No projects reviewed yet~</li>
        {% endfor %}
    </ul>

    <h1>Other DIY Projects</h1>
        <ul>
        {% for project in all_projects %}
            <li>
                <a href="{% url 'diyprojects:project_detail' project.pk %}">{{ project.title }}</a>
            </li>
        {% empty %}
            <li>No projects just yet~</li>
        {% endfor %}
    </ul>
{% else %}
    <h1>DIY Projects</h1>
    <ul>
        {% for project in all_projects %}
            <li>
                <a href="{% url 'diyprojects:project_detail' project.pk %}">{{ project.title }}</a>
            </li>
        {% empty %}
            <li>No projects just yet~</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
